/**
 * Space Cadet theme for reveal.js.
 * Author: Giovanni Senatore
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(./fonts/league-gothic/league-gothic.css);
//@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// CSS HEX
$maroon-x-11: #ac205fff;
$cyber-grape: #54426bff;
$bone: #d9cfc1ff;
$raw-umber: #866546ff;
$rust: #ba3f1dff;

// Override theme settings (see ../template/settings.scss)
$mainFont: 'Carlito', sans-serif;
$codeFont: 'Ubuntu Mono', monospace;
$mainColor: $raw-umber;
$headingColor: $cyber-grape;
$headingTextShadow: none;
$backgroundColor: $bone;
$linkColor: $rust;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $maroon-x-11;

// Change text colors against light slide backgrounds
@include light-bg-text-color($cyber-grape);
@include dark-bg-text-color($bone);

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
