/**
 * Space Cadet theme for reveal.js.
 * Author: Giovanni Senatore
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(./fonts/league-gothic/league-gothic.css);
//@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// CSS HEX
$true-blue: #2665daff;
$eerie-black: #080b0cff; // #101618ff;
$verdigris: #17bebbff; // 15d0dc
$vanilla: #fff0adff; // fff0dd
$flame: #e4572eff;
$rojo: #de1a1aff;

// Override theme settings (see ../template/settings.scss)
$mainFont: 'Lato', sans-serif;
$codeFont: 'Ubuntu Mono', monospace;
$mainColor: $verdigris;
$headingColor: $vanilla;
$headingTextShadow: none;
$backgroundColor: $eerie-black;
$linkColor: $true-blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $rojo;

// Change text colors against light slide backgrounds
@include light-bg-text-color($eerie-black);
@include dark-bg-text-color($vanilla);

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
