/**
 * Space Cadet theme for reveal.js.
 * Author: Giovanni Senatore
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(./fonts/league-gothic/league-gothic.css);
//@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// CSS HEX
$tang-blue: #1655caff;
$raisin-black: #141119ff;
$turquoise: #25d0bcff;
$vanilla: #ffec99ff;
$scarlet: #f52900ff;

// Override theme settings (see ../template/settings.scss)
$mainFont: 'Carlito', sans-serif;
$codeFont: 'Ubuntu Mono', monospace;
$mainColor: $turquoise;
$headingColor: $vanilla;
$headingTextShadow: none;
$backgroundColor: $raisin-black;
$linkColor: $tang-blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $scarlet;

// Change text colors against light slide backgrounds
@include light-bg-text-color($raisin-black);
@include dark-bg-text-color($vanilla);

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
