/**
 * Space Cadet theme for reveal.js.
 * Author: Giovanni Senatore
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(./fonts/league-gothic/league-gothic.css);
//@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// CSS HEX
$space-cadet: #25283dff;
$antique-ruby: #93032Eff;
$blizzard-blue: #98dfebff;
$medium-turquoise: #08d9d2ff;
$unbleached-silk: #ebcfc1ff;

// Override theme settings (see ../template/settings.scss)
$mainFont: 'Lato', sans-serif;
$codeFont: 'Ubuntu Mono', monospace;
$mainColor: $blizzard-blue;
$headingColor: $unbleached-silk;
$headingTextShadow: none;
$backgroundColor: $space-cadet;
$linkColor: $medium-turquoise;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $antique-ruby;

// Change text colors against light slide backgrounds
@include light-bg-text-color($space-cadet);
@include dark-bg-text-color($unbleached-silk);

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
